@page "/"
@using GameStore.Frontend.Services

@rendermode InteractiveServer
@inject GameService GameService

<PageTitle>My Library</PageTitle>

<h1>Your games</h1>
<p>Here you can see all the games you have added to your library.</p>
@if (Games.Count == 0)
{
    <p>You haven't added any games yet. Click the button below to add your first game!</p>
    <button class="btn btn-primary" asp-page="/addgame">Add Game</button>
}
else
{
    <div class="game-list">
        @foreach (var game in Games)
        {
            <div class="game-item card mb-3 p-3">
                <div class="card-body">
                    <h3 class="card-title">@game.Name</h3>
                    <p class="card-text">@game.Genre</p>
                    <p class="card-text">Price: @game.Price.ToString("C")</p>
                    <p class="card-text">Release Date: @game.ReleaseDate.ToString("yyyy-MM-dd")</p>
                    <button class="btn btn-danger" @onclick="() => DeleteGame(game.Id)">Delete</button>
                    <a href="/updateGame/@game.Id" class="btn btn-warning">Update</a>
                </div>
            </div>
        }
    </div>
}

<a href="/addgame" class="btn btn-primary">Add Game</a>

@code{
    List<Game> Games = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        Games =  await GameService.GetGamesAsync();
    }

    private async Task DeleteGame(int gameId)
    {
        await GameService.DeleteGameAsync(gameId);
        Games = await GameService.GetGamesAsync();
    }
}
